@using SKShoeAndSports.Utility

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - S&K's Shoe and Sports</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.5/css/responsive.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img  style="display:inline-block;  margin-top:0px" class="logo" srcset="~/images/logos/Joshua-01.png?width=250&height=100" src="~/images/logos/Joshua-01.png"/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <!--Search Bar-->
                        <li class="nav-item">
                            <form asp-area="Customer" asp-controller="Home" asp-action="Search" method="get" class="form-inline">
                                <input class="form-control" name="searchQuery" placeholder="Search..." />
                                <button class="btn btn-success" type="submit">@*<i class="fas fa-search"></i><*@Search</button>

                            </form>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        @if (!User.IsInRole(SD.Admin_Role) && !User.IsInRole(SD.Staff_Role))
                        {
                            <li class="nav-item">
                                @await Component.InvokeAsync("CategoryMenu")
                            </li>
                            <li class="nav-item">
                                @await Component.InvokeAsync("SubcategoryMenu")
                            </li>
                            <li class="nav-item">
                                @await Component.InvokeAsync("ProductTypeMenu")
                            </li>
                            <li class="nav-item">
                                @await Component.InvokeAsync("BrandMenu")
                            </li>
                        }
                        @if (User.IsInRole(SD.Admin_Role) || User.IsInRole(SD.Staff_Role))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Content Management
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Brand" asp-action="Index">Brands</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Product" asp-action="Index">Products</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index">Categories</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Subcategory" asp-action="Index">Subcategories</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Size" asp-action="Index">Sizes</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="ProductType" asp-action="Index">Product Types</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Colour" asp-action="Index">Colours</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="ProductVariant" asp-action="Index">Product Variants</a>
                                </div>
                            </li>


                        }
                        @if (User.IsInRole(SD.Admin_Role))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    User / Staff
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Index">Users</a>

                                </div>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Admin" asp-controller="Order" asp-action="Index">
                                @if (User.IsInRole(SD.Admin_Role) || User.IsInRole(SD.Staff_Role))
                                {
                                    <span>Manage Order</span>
                                }
                                else
                                {
                                    <span>Order History</span>
                                }
                            </a>
                        </li>
                        @if (User.IsInRole(SD.Customer_Role))
                        {
                        <!--Check if basket is not empty-->
                        @if (HttpContextAccessor.HttpContext.Session.GetInt32(SD.SessionBasket) != null)
                        {
                            <li style="color:white;">
                                <a asp-area="Customer" asp-controller="Basket" asp-action="Index" class="nav-link">
                                    @{
                                        var count = HttpContextAccessor.HttpContext.Session.GetInt32(SD.SessionBasket);
                                    }
                                    <i class="fas fa-shopping-cart"></i> &nbsp; (@count)
                                </a>
                            </li>
                        }
                        else
                        {
                            <li style="color:white;">
                                <a href="#" class="nav-link">
                                    <!--If basket is empty-->
                                    <i class="fas fa-shopping-cart"></i> &nbsp; (0)
                                </a>
                            </li>
                        }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <br />
    <div class="container-fluid">        
        <main role="main" class="pb-3">
            <!--Render notifications-->
            @await Component.InvokeAsync("NToastNotify")
            @if (User.IsInRole(SD.Customer_Role)) {
            <center>
                <h6 class="text-danger"><b>DISCLAIMER: ONLY ACCEPTING PAYMENTS IN £(GBP)!</b></h6>
            </center>
            <hr />
            }
            @RenderBody()

        </main>
    </div>

    <footer class="border-top footer text-white-50 bg-primary">
        <div class="container">
            &copy; 2020 - S&K's Shoe And Sports
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.5/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://kit.fontawesome.com/d448ff6f79.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
