@model ProductVM

    <li class="nav-item">
        <form asp-area="" asp-controller="Home" asp-action="Search" method="post">
            <input asp-for="SearchQuery" placeholder="Search">
        </form>
    </li>